@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Teko";
  font-size: 1.14em;
  color: white;
}
html, body {
  min-height: 100%;
}
h3 {
  font-size: 0.8em;
  padding: 0; 
  margin: 0;
}
h4 {
  font-size: 0.6em;
  padding: 0; 
  margin: 0;
}
body {
  background: #43573a;
  padding-left: 8px;
}
p {
  font-size: 0.55em;
  color: #bbb;
}

/* layout & nav */
.layout {
  max-width: 1200px;
  margin: 0 auto;
}
nav {
  display: grid;
  margin: 20px auto;
}
nav .links {
  font-size: 0.6em;
  display: inline-block; 
  text-align: left;
  white-space: nowrap;
}
nav .logo {
  position: relative;
  white-space: nowrap;
}
nav a {
  display: inline-block;
  margin-left: 10px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
  color: #edad09;
}
nav a:hover {
  border-color: white;
  color: #edad09;
}

.footer {
  margin-top: 1em;
}

.footer p {
  color: #bbb;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.footer a {
  color: #bbb;
  margin-top: 0rem;
  padding-top: 0rem;
  font-size: 0.55em;
}

.footer .test {
  display: inline-block;
  overflow: hidden;
  height: 32px;
}

.hamburger {
  display: none;
  float: right;
}

.hamburgerMenu {
  align-items: center;
  text-align: center;
  z-index: 1;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  font-size: 1.8rem;
  top: 10%;
  position: fixed;
  background-color: #43573a;
  margin-top: 30px; 
}

.hamburgerMenu ul {
  width: 150px;
  display: inline-block;
}


@media (max-width: 600px) {
  * {
    text-align: center;
  }
  nav {
    text-align: left;
  }
  nav .logo {
    text-align: left;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    float: left;
    font-size: 1.3rem;
  }
  nav .hamburger {
    display: block;
    text-align: right;
  }
  nav .links {
    display: none;
  }
}
