@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Teko";
  font-size: 1.14em;
  color: white;
}
html, body {
  min-height: 100%;
}
h3 {
  font-size: 0.8em;
  padding: 0; 
  margin: 0;
}
body {
  background: radial-gradient(at top left, #43573a 0%, #36472e 100%);
  background-repeat: no-repeat;
  padding-left: 8px;
}
p {
  font-size: 0.55em;
  color: #bbb;
}

/* layout & nav */
.layout {
  max-width: 1200px;
  margin: 0 auto;
}
nav {
  display: grid;
  margin: 20px auto;
}
nav .links {
  font-size: 0.6em;
  display: inline-block; 
  text-align: left;
  white-space: nowrap;
}
nav .logo {
  position: relative;
  white-space: nowrap;
}
nav a {
  display: inline-block;
  margin-left: 10px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
  color: #edad09;
}
nav a:hover {
  border-color: white;
  color: #edad09;
}

.footer {
  margin-top: 1em;
}

.footer p {
  color: #bbb;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.footer a {
  color: #bbb;
  margin-top: 0rem;
  padding-top: 0rem;
  font-size: 0.55em;
}

.footer .test {
  display: inline-block;
  overflow: hidden;
  height: 32px;
}

@media only screen and (max-width: 600px) {
  * {
    text-align: center;
  }
  nav {
    text-align: center;
  }
}
